html, body, a, ul {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* HEADER */ 
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0 1px 10px #eeeeee;

}

.header-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 800;
}

.menu {
  display: flex;
  
}

.menu li {
  margin-left: 10px;
  margin-top: 5px;
}

.button {
  background-color: #55abf1;
  width: 150px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.button, .button a {
  color: white;
}


/* MAIN */ 
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/parallax-bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 20px;
  min-height: 780px;

}


.center h1 {
  font-size: 2.8em;
}

.center p {
  padding-bottom: 20px;
}

.center .button {
  font-size: 1.2em;
}

.box-cards {
  display: flex;
  padding: 20px;
  max-width: 72%;
}

.card {
  background-color: #ffffff;
  width: 20%;
  min-width: 15%;
  margin-left: 25px;
  padding: 15px;
  box-shadow: 5px 5px 20px #e2e2e2;
  border-radius: 10px;
}

.card:hover {
  background-color: #fbfbfb;
  transition: 0.6s;
  cursor: pointer;
}

.about {
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 72%;
  text-align: center;
}

.about .items {
  display: flex;
  justify-content: space-between;
}





